#config file : do not make any changes before reading the README
#
#
#The documentroot defines the default directory to look for the page
documentroot /home/httpd/html/
#
#This specifies the default page
defaultpage index.html
#
#This specifies the public directory for the user
userroot public_html/
#
#The various default error files
error301 error301.html
error403 error403.html
error400 error400.html
error404 error404.html
error500 error500.html
error501 error501.html
#
#This is the hostname in case of refers
hostname yugandhar:1560
#
#Listen port (should be 80 but aint! ;)
port 1560
